<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Encryption/Decryption</title>
</head>
<body>
    <h2>PDF Encryption/Decryption</h2>
    <form action="/process_pdf" method="post" enctype="multipart/form-data">
        <label for="pdf_file">Choose a PDF file:</label><br>
        <input type="file" id="pdf_file" name="pdf_file" accept=".pdf" required><br><br>
        
        <label for="operation">Choose an operation:</label><br>
        <select id="operation" name="operation" required>
            <option value="encrypt">Encrypt</option>
            <option value="decrypt">Decrypt</option>
        </select><br><br>
        
        <label for="password">Enter password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="Submit">
    </form>


    {% if encrypted_file %}
        <h2>Encrypted PDF:</h2>
        <a href="{{ url_for('download_encrypted_file', filename=encrypted_file) }}" download>Download Encrypted PDF</a>
    {% endif %}

</body>
</html>
